
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

.hero {
    position: relative;
    width: 100%;
    height: 100%;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.divTitle {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    color: darkblue;
    text-shadow: 2px 2px 4px white;
    background-color: rgba(211, 211, 211, 0.5);
}
